@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    justify-content: space-around;
    flex-direction: column;
    background-image: url(https://cdn.hipwallpaper.com/i/53/92/C17k8z.jpg);
    background-size: cover;
}
.navBar {
    background-color: rgb(110, 110, 110);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 99;
    width: 98%;
    opacity: 80%;
}
/* .image {
    width: 400px; 
} */
.heading {
    color: hotpink;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0;
    padding-top: 60px;
    font-family: 'Lobster', cursive;
    font-size: 80px;
}
.imagediv {
    display: flex;
    justify-content: space-around;
}
.pink {
    color: hotpink;
    font-size: 20px;
    font-weight: bold;
}
.navButton {
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    color: white;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.navButton:hover {
    color: #ffc800;
}
.navButton:active {
    color: #ff7b00;
}
.subtitle {
    text-align: center;
    margin-top: 0px;
    color: black;
    font-size: 30px;
}
.questions {
    text-align: left;
    padding-top: 10px;
    font-size: 40px;
}
.paragraph {
    color:white;
    background-color:rgb(110, 110, 110);
    border-radius: 10px;
    opacity: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
    

@media only screen and (max-width: 368px) {
    .navButton {
        font-size: 10px;
        margin: 7px;
    }
}